@model BLL.DTOs.UserDTO

@{
    ViewData["Title"] = "ViewProfile";
    Layout = "~/Views/Shared/_HealthcareLayout.cshtml";
}

<h1>Healthcare ViewProfile</h1>

@if (Model != null)
{

    <div>
        @if(TempData["PassChange"] != null)
        {
            <div class="alert alert-success">
                @TempData["PassChange"]
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <table class="table table-bordered">
            <tr>
                <td>Name:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>@Model.Role</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Blood Group:</td>
                <td>@Model.BloodGroup</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a asp-action="EditHealthcareProfile" class="btn btn-primary" asp-route-id="@Context.Session.GetInt32("UserId")">Edit Profile</a>
                    <a asp-action="ChangePassword" class="btn btn-secondary" asp-route-id="@Context.Session.GetInt32("UserId")">Change Password</a>
                </td>
            </tr>
        </table>
    </div>

}
else
{
    <p>User profile not found.</p>
}